:root{
  --fondo: #fafbfd;
  --color-negro: #1a1a1a;
  --color-blanco: #F7F8F3;
  --color-fd: #c9d6df;
  --color-sd: #f0f5f9;
  --parrafo: #9B9B9B;
}
/*reset*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  border: none;
}
*:focus{
  outline: none;
}
body{
  background: var(--fondo);
  color: var(--color-negro);
  font-family: sans-serif, arial;
  font-size: calc(.7em + 1vw);
  animation-name: carga;
  animation-duration: 2s;
}
header{
  font-family: gilroy, arial bold, Roboto;
  text-align: center;
  padding: 3em 1em;
}
p{
  color: var(--parrafo);
  letter-spacing: .01em;
  margin-top: .5em;
  font-weight: lighter;
}
img{
  height: 4em;
  margin-bottom: .5em;
}
h4{
  color: var(--color-blanco);
  padding-right: .2em;
}
nav{
  background: var(--color-negro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: .5em 1em;
}
select{
  background: var(--color-blanco);
  color: var(--color-negro);
  padding: .5em;
  border-radius: .5em;
  max-width: 40%;
}
a{
  padding: .5em 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.05em solid #90a4ae;
  animation-name: carga;
  animation-duration: 1s;
}
a::before{
  content: "PDF";
  margin-right: 1em;
  font-size: .6em;
  vertical-align: middle;
  background: #f44336;
  color: var(--color-blanco);
  padding: .2em .5em;
  font-weight: bold;
  border-radius: .5em;
}
/*Tipos*/
li:nth-child(even){
  background: var(--color-fd);
}
li:nth-child(odd){
  background: var(--color-sd);
}
li:hover{
  filter: brightness(90%);
}
.hide{ display: none }
@keyframes carga {
  from{opacity: 0;}
  to{opacity: 100;}
}

@media screen and (max-width:400px) {
  br{display: none;}
}
/* actualizacion */
