
:root{
  --fondo: #fafbfd;
  --color-negro: #1a1a1a;
  --color-blanco: #F7F8F3;
  --color-fd: #c9d6df;
  --color-sd: #f0f5f9;
  --parrafo: #9B9B9B;
}
/*reset*/
*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  border: none;
  transition: all 1s ease;
}
*:focus{
  outline: none;
}
body{
  background: var(--fondo);
  color: var(--color-negro);
  font-family: 'Roboto', Arial;
  font-size: calc(.8em + 1vw);
  animation-name: carga;
  animation-duration: 2s;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3em 1em;
}
.show{
  height: 100vh;
}

.masonry{
  margin: auto;
  padding: 0 1em;
  columns: 3;
  column-gap: 1em;
}
.file-card{
  display: inline-block;
  margin-bottom: 1em;
  position: relative;
  width: 100%;
  border-radius: 1em;
  padding: 1.5em;
  background: #673ab7;
}
.file-card h1,.file-card p{
  color: #FFF;
  margin-top: .2em;
}
.file-card span{font-weight: bolder; color: rgba(0 0 0 / .5);}
.file-card p{font-size: .7em; text-transform: lowercase;color: rgba(255, 255, 255, 0.8);}
.file-card h1::first-letter,.file-card p::first-letter{text-transform: uppercase;}
/* Etiquetas de archivos */
.PDF{
  background-color: #d32f2f;
}
.DOCUMENTO{
  background-color: #0288d1;
}
.IMAGEN{
  background-color: #009688;
}
.VIDEO{
  background-color: #607d8b;
}
.PRESENTACION{
  background-color: #f4511e;
}

p{
  color: var(--parrafo);
  letter-spacing: .01em;
  margin-top: .5em;
  /* font-style: italic; */
}
img{
  height: 4em;
  margin-bottom: .5em;
}
table{
  border-collapse: collapse;
  /* table-layout: fixed; */
  width: 100%;
  border: 0.05em solid #90a4ae;
  animation-name: carga;
  animation-duration: 1s;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table td, th {
  padding: .625em;
  text-align: left;
}
tbody td{
  word-break: break-word;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
}
.tipo{
  font-size: .8em;
  text-align: center;
  color: var(--color-negro);
  font-weight: bold;
  padding: 0 1em;
  word-break: keep-all;
}
.asignatura{
  text-align: center;
  font-style: italic;
}
.searchInput{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: .2em solid var(--color-negro);
  background: #d6d6d6;
  font-size: .85em;
  color: gray;
}
.material-icons{
  margin: 0 .5em;
}
#formulario{
  font-size: inherit;
  padding: .625em 0;
  background: none;
  width: 100%;
}
.hide{ display: none; }
@keyframes carga {
  from{opacity: 0;}
  to{opacity: 100;}
}

@media screen and (max-width:800px) {
  .masonry{columns: 2;}
}
@media screen and (max-width:600px) {
  br{display: none;}
  .masonry{columns: 1;}
}
